<div class = "container">
  <%= simple_form_for [ @board, @user, @booking ] do |f| %>
  <%= f.input :start_at %>
  <%= f.input :end_at %>
  <%= f.submit "Book your board", class: "btn btn-primary" %>
  <% end %>
</div>
