
<div class="footer">
  <div class="content-info">
  <%# <a href=" ">Louer une board</a>
  <a href=" ">Louer une board</a> %>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Le Wagon // batch#625 // 2021
  </div>
</div>