<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/">
    <%= image_tag "holyboard_logo_bleu.png" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div><%= link_to 'Boards', boards_path, class: 'nav-link' %></div>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://lh3.googleusercontent.com/proxy/emw3eceODUorE8iO5tpaZnNzvA5STaejMza7g-6MkmPQPwqpUnPmD_sn8BEcLSjk0apnzYV0pwUCzLNdRS9p8W_BhozttG4JA5ozO5UdIKQTBcsbk6is6OvNxNwDzZezfo0BH6h-8CsXiNhrvnkW" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to 'Profil', dashboard_path, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div>
</div>
