.card{
  padding: 10px;
  padding-top: 30px;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-remove-link{
  padding-top: 10px;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.card-title{
  font-weight: bold;
  color: black;
}

.card-text{
  color: black;
}

.card-price{
  color: #00a7ad;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.link:hover {
  text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: contain;
}

// Smallest device
@media (min-width: 100px) and (max-width: 768px){
.card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: contain;
}
}




