.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.mapboxgl-canvas {
  margin-top: 10px;
}

.mapboxgl-ctrl-top-right {
  margin: 8px 0;
  float: right;
}

